*.tmp
*.swp
*.orig
**Cssr.java
target/
4cc.checksum
*.log
*.project
*.eclipse.*
*.classpath
.settings/
META-INF/
**Content.java
jspgen/
test-output/
*.class
app.css
classes/
jawr.properties
/.springBeans
